In [1]:
import os

os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
import ray
ray.init(memory=5242880000)
import modin.pandas as pd

2020-02-25 21:31:29,031	INFO resource_spec.py:216 -- Starting Ray with 4.88 GiB memory available for workers and up to 2.05 GiB for objects. You can adjust these settings with ray.init(memory=<bytes>, object_store_memory=<bytes>).

In [2]:
import modin.pandas as pd

In [6]:
import pandas as old_pd

In [3]:
%time loans_df = pd.read_csv("data/kiva_loans.csv")

CPU times: user 705 ms, sys: 358 ms, total: 1.06 s
Wall time: 1.96 s

In [4]:
%time  locations_df = pd.read_csv("data/kiva_mpi_region_locations.csv")

CPU times: user 29.6 ms, sys: 8.9 ms, total: 38.5 ms
Wall time: 37.6 ms

In [7]:
%time  old_loans_df = old_pd.read_csv("data/kiva_loans.csv")

CPU times: user 3.11 s, sys: 227 ms, total: 3.34 s
Wall time: 3.32 s

In [8]:
%time  old_locations_df = old_pd.read_csv("data/kiva_mpi_region_locations.csv")

CPU times: user 7.68 ms, sys: 5.25 ms, total: 12.9 ms
Wall time: 11.2 ms

In [3]:
%time  parking_df = pd.read_csv('data/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')  
#print(type(tp_df))

(pid=89945) DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89953) DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89949) DtypeWarning: Columns (18,20,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89951) DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89952) DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89944) DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89950) DtypeWarning: Columns (18,20,21,22,23,29,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89947) DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89954) DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89948) DtypeWarning: Columns (18,29,38) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89946) DtypeWarning: Columns (18,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
(pid=89955) DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
CPU times: user 4.04 s, sys: 3.6 s, total: 7.64 s
Wall time: 1min 46s

In [13]:
%time old_parking_df = old_pd.read_csv('data/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')

DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 38.9 s, sys: 9.4 s, total: 48.3 s
Wall time: 48.7 s

In [4]:
ray.timeline(filename="data/timeline.json")

In [ ]:
*** Append Operations ***

In [9]:
%time new_df2 = loans_df.append(loans_df)

CPU times: user 4.99 ms, sys: 3.36 ms, total: 8.36 ms
Wall time: 6.85 ms

In [10]:
%time new_df1 = old_loans_df.append(old_loans_df)

CPU times: user 594 ms, sys: 81.3 ms, total: 676 ms
Wall time: 673 ms

In [ ]:
*** Concat Operations ***

In [11]:
%time df = pd.concat([loans_df for _ in range(5)])

CPU times: user 5.95 ms, sys: 1.04 ms, total: 7 ms
Wall time: 5.39 ms

In [12]:
%time df1 = old_pd.concat([old_loans_df for _ in range(5)])

CPU times: user 1.58 s, sys: 264 ms, total: 1.85 s
Wall time: 1.84 s

In [ ]:
*** SUM OPERATIONS ***

In [13]:
%time loans_df['lender_count'].sum()

CPU times: user 68.8 ms, sys: 11.7 ms, total: 80.5 ms
Wall time: 359 ms

13820730

In [14]:
%time old_loans_df['lender_count'].sum()

CPU times: user 1 ms, sys: 335 µs, total: 1.34 ms
Wall time: 770 µs

13820730

In [ ]:
*** MEAN OPERATIONS ***

In [15]:
%time loans_df.groupby('country').mean()

CPU times: user 211 ms, sys: 53.2 ms, total: 264 ms
Wall time: 3.32 s

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
country,,,,,,
Afghanistan,9.145775e+05,7000.000000,7000.000000,412.000000,7.000000,256.000000
Albania,9.464003e+05,1287.487073,1378.748707,239.039297,23.869700,42.904343
Armenia,9.913564e+05,1296.104159,1496.396710,158.777778,28.339358,37.140076
Azerbaijan,8.449189e+05,1387.956298,1485.192802,59.034447,16.613368,42.724422
Belize,7.870861e+05,912.200000,912.200000,273.000000,51.016000,33.472000
...,...,...,...,...,...,...
Vietnam,9.926573e+05,1259.955732,1373.369916,204.428479,17.623905,37.272987
Virgin Islands,1.081654e+06,0.000000,5000.000000,NaN,24.000000,0.000000
Yemen,8.271608e+05,771.325119,812.775616,205.000000,17.668396,20.888889
Zambia,9.967362e+05,1464.221939,1544.228316,255.445153,17.780612,47.114796
Zimbabwe,9.130567e+05,836.074616,854.586019,317.636837,9.479177,24.975706

In [16]:
%time old_loans_df.groupby('country').mean()

CPU times: user 132 ms, sys: 32.2 ms, total: 164 ms
Wall time: 161 ms

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
country,,,,,,
Afghanistan,9.145775e+05,7000.000000,7000.000000,412.000000,7.000000,256.000000
Albania,9.464003e+05,1287.487073,1378.748707,239.039297,23.869700,42.904343
Armenia,9.913564e+05,1296.104159,1496.396710,158.777778,28.339358,37.140076
Azerbaijan,8.449189e+05,1387.956298,1485.192802,59.034447,16.613368,42.724422
Belize,7.870861e+05,912.200000,912.200000,273.000000,51.016000,33.472000
...,...,...,...,...,...,...
Vietnam,9.926573e+05,1259.955732,1373.369916,204.428479,17.623905,37.272987
Virgin Islands,1.081654e+06,0.000000,5000.000000,NaN,24.000000,0.000000
Yemen,8.271608e+05,771.325119,812.775616,205.000000,17.668396,20.888889
Zambia,9.967362e+05,1464.221939,1544.228316,255.445153,17.780612,47.114796
Zimbabwe,9.130567e+05,836.074616,854.586019,317.636837,9.479177,24.975706

In [ ]:
*** CSV OPERATIONS ***

In [17]:
%time loans_df.to_csv('out.csv', sep='\t')

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

CPU times: user 10.8 s, sys: 834 ms, total: 11.7 s
Wall time: 13.2 s

In [18]:
%time old_loans_df.to_csv('out.csv',sep='\t')

CPU times: user 7.56 s, sys: 297 ms, total: 7.86 s
Wall time: 7.73 s

***MERGE OPERATION ****

In [19]:
%time merged_df = pd.merge(loans_df, locations_df, on="country")

UserWarning: `DataFrame.merge` defaulting to pandas implementation.

CPU times: user 20.8 s, sys: 4 s, total: 24.8 s
Wall time: 25.1 s

In [27]:
%time old_merged_df = old_pd.merge(old_loans_df, old_locations_df, on="country")

CPU times: user 5.28 s, sys: 1.63 s, total: 6.91 s
Wall time: 6.88 s

***IS NULL OPERATION ***

In [20]:
%time pd.isnull(loans_df["use"])

CPU times: user 41 ms, sys: 11.1 ms, total: 52.1 ms
Wall time: 50.7 ms

0         False
1         False
2         False
3         False
4         False
          ...
671200    False
671201    False
671202     True
671203    False
671204    False
Name: use, Length: 671205, dtype: bool

In [21]:
%time old_pd.isnull(old_loans_df["use"])

CPU times: user 29.8 ms, sys: 2.17 ms, total: 32 ms
Wall time: 31.4 ms

0         False
1         False
2         False
3         False
4         False
          ...
671200    False
671201    False
671202     True
671203    False
671204    False
Name: use, Length: 671205, dtype: bool

***Fillna Operation***

In [ ]:
%time df.fillna(value=0)

CPU times: user 113 ms, sys: 14 ms, total: 127 ms
Wall time: 163 ms

In [34]:
%time old_loans_df.fillna(value=0)

CPU times: user 924 ms, sys: 328 ms, total: 1.25 s
Wall time: 1.37 s

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,0,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,0,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,0,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,0,female,monthly,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,0,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,0,KE,Kenya,0,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,0,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26

In [ ]:
#Command to shutdown the Ray
ray.shutdown()